.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin-bottom: 40px;
}

.blocks {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
}

.kkk{
  font-family: Itim;
  font-weight: 400;
  font-style: Regular;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  font-size: 50px;
}
